.scrollpad {
  position: relative;
  /*width: 200px;*/ /* Default value. Overwite this if you want. */
  height: 300px; /* Default value. Overwite this if you want. */
  overflow: hidden;
}
.scrollpad .scrollpad-scrollbar-content {
  overflow: hidden;
  overflow-y: scroll;
}
/* No longer using ::scrollbar too, since it breaks Chrome 25 */
.scrollpad .scrollpad-scrollbar-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.scrollpad-scrollbar {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 11px;
}
.scrollpad-scrollbar .drag-handle {
  position: absolute;
  right: 2px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  min-height: 10px;
  width: 7px;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  background-color: rgba(0, 0, 0, 0.35);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
}
.scrollpad-scrollbar:hover .drag-handle {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-transition: opacity 0 linear;
  -moz-transition: opacity 0 linear;
  -o-transition: opacity 0 linear;
  -ms-transition: opacity 0 linear;
  transition: opacity 0 linear;
}
.scrollpad-scrollbar .drag-handle.visible {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
/*.scrollpad-scrollbar:hover .drag-handle,
.scrollpad-scrollbar:active .drag-handle {
  opacity: 0.7 !important;
  filter: alpha(opacity=70) !important;
}*/
/* Used when testing the scrollbar width */
/* No longer using ::scrollbar too, since it breaks Chrome 25 */
.scrollbar-width-tester::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/* Horizontal scroller */
.scrollpad.horizontal .scrollpad-scrollbar-content {
  overflow-x: scroll;
  overflow-y: hidden;
}
.scrollpad.horizontal .scrollpad-scrollbar-content::-webkit-scrollbar,
.scrollpad.horizontal .scrollpad-scrollbar-content::scrollbar {
  width: auto;
  height: 0;
}
.scrollpad.horizontal .scrollpad-scrollbar {
  top: auto;
  left: 0;
  width: auto;
  height: 11px;
}
.scrollpad.horizontal .scrollpad-scrollbar .drag-handle {
  right: auto;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}
